body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#callControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h2 {
    color: #333;
}

#to {
    margin-top: 20px;
}

#num {
    padding: 10px;
    font-size: 1em;
    width: 300px;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #B8B8B8;
    background-color: #fff;
    outline: none;
}

#login {
    margin-top: 20px;
}

label {
    color: #666;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    font-size: 1em;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

#loginBtn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#loginBtn:disabled {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #003d88;
    color: #888;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#logoutBtn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #7b0000;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#call,
#hangup,
#accept,
#decline {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 260px;
    height: 40px;
    font-size: 20px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#call {
    background-color: #007bff;
    color: #fff
}
#call:disabled {
    background-color: #003d88;
    color: #888
}

#hangup {
    display: none;
    background-color: #dc3545;
}

#accept {
    display: none;
    background-color: #28a745;
}

#decline {
    display: none;
    background-color: #dc3545;
}
